<div>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Credit Card Application Form: {{selectedCard}}</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="alert alert-danger" ng-show="data.error.code">
                {{data.error.message}}
            </div>

            <div class="panel panel-default" ng-hide="data.error.code || data.result">
                <div class="panel-heading">
                    <h3>Credit Card Application Form:</h3>
                </div>
                <form name="createApplicationForm" novalidate="true">
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" ng-model="data.application.name" required="true" />
                        </div>
                        <div class="form-group">
                            <label>Social Security Number</label>
                            <input class="form-control" ng-model="data.application.ssn" />
                        </div>
                        <div class="form-group">
                            <label>E-mail</label>
                            <input class="form-control" ng-model="data.application.email" required="true" />
                        </div>
                        <div class="form-group">
                            <label>Income</label>
                            <input class="form-control" ng-model="data.application.income" />
                        </div>
                        <div class="form-group">
                            <label>Rent or Mortgage</label>
                            <input class="form-control" ng-model="data.application.rentOrMortgage" />
                        </div>
                        <div class="form-group">
                            <label>Medical</label>
                            <input class="form-control" ng-model="data.application.medical" />
                        </div>
                        <div class="form-group">
                            <label>Consumer Debt</label>
                            <input class="form-control" ng-model="data.application.consumerDebt" />
                        </div>
                        <div class="form-group">
                            <label>fICO</label>
                            <input class="form-control" ng-model="data.application.fICO" />
                        </div>
                        <div class="form-group">
                            <label>Defaults</label>
                            <input type="checkbox" class="form-control" ng-model="data.application.defaults" ng-true-value="'true'" ng-false-value="'false'"/>
                        </div>
                        <div class="form-group">
                            <label>Bankruptcies</label>
                            <input type="checkbox" class="form-control" ng-model="data.application.bankruptcies" ng-true-value="'true'" ng-false-value="'false'" />
                        </div>
                        <div class="form-group">
                            <label>Settlements</label>
                            <input type="checkbox" class="form-control" ng-model="data.application.settlements" ng-true-value="'true'" ng-false-value="'false'" />
                        </div>
                        <div class="form-group">
                            <label>Comment</label>
                            <input class="form-control" rows="3" ng-model="data.application.comment" />
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="createApplication(data.application)">Submit application</button>
                    </div>
                </form>
            </div>

            <div class="panel panel-default" ng-show="!data.error.code &amp;&amp; data.result">
                <div class="panel-body">
                    <h3>Credit Card Application Submitted.</h3>
                    <p>
                        Your application has been submitted! Application reference : {{data.result}}
                    </p>
                    <p>
                        You will receive an e-mail confirmation within the next minutes.
                    </p>
                    <button type="submit" class="btn btn-default" ng-href="/">Home</button>
                </div>
            </div>
        </div>
    </div>
</div>
